<div class="d-flex align-items-stretch local_authoringtool">
    <a href="{{link}}" title="{{title}}" class="nav-link" target="_blank">
        <img src="{{image}}" alt="{{title}}" height="30" width="30">
        <span class="d-none d-md-inline">{{title}}</span>
    </a>
</div>